#detailparam{
    margin-top: 20px;
    margin-bottom: 20px;
}
#pass{
     margin-right: 10px;
    
 }
 
 #espleft{
     margin-left: 40px;
     margin-right: 10px;
     
 }
 #titleliste{
    color: rgb(175, 126, 35);
}