#magasininput{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 150px;
  }
 
  #adresseininput{
    margin-left: 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-right: 20px;
    width: 510px;
  }
 