<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div class="card text-center" clickNoRightClick>
    <div  class="card-header font-weight-bold black-text p-0" > {{'detailBin.headercard' | translate}}
      <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" title="{{'btn.btn1'| translate}}"
       mdbWavesEffect (click)="Fermer()">
        <i class="fa fa-times"></i>
      </button>
      <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==true"    title="{{'btn.btn15'| translate}}" (click)="Mini(isOpened)"><i class="fa fa-window-minimize" aria-hidden="true" ></i></button>
      <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==false "   title="{{'btn.btn16'| translate}}" (click)="Maxi(isOpened2)"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
    </div></div><br [hidden]="!isOpened">

    <div  [hidden]="!isOpened">
        <table>
            <tr>
              
              
                  <td>  <label id="tepass"><h6 id="titleliste" style="font-weight: bold;">{{'detailBin.attribute.n1' | translate}} :</h6></label>
                    <label id="epass"><h6 id="labelliste">{{detail.nomPlageBin}}</h6></label>  
                  </td>
                  <td> <label id="tepass"><h6 id="titleliste" style="font-weight: bold;">{{'detailBin.attribute.n2' | translate}} :</h6></label>
                    <label id="epass"><h6 id="labelliste">{{detail.debutPlageBin}}</h6></label></td> 
            </tr>
         <tr>
          <td> <label id="tepass"><h6 id="titleliste" style="font-weight: bold;">{{'detailBin.attribute.n3' | translate}} :</h6></label>
            <label id="epass"><h6 id="labelliste">{{detail.finPlageBin}}</h6></label></td> 
                  <td>  <label id="tepass"><h6 id="titleliste" style="font-weight: bold;">{{'detailBin.attribute.n4' | translate}} :</h6></label>
                    <label id="epass"><h6 id="labelliste">{{detail.emetteur}}</h6></label></td>
                 
         </tr>
         <tr>
           
            
              <td> <label id="tepass"><h6 id="titleliste" style="font-weight: bold;">{{'detailBin.attribute.n5' | translate}} :</h6></label>
                
                <label id="epass"><h6 id="labelliste">{{detail.acquereur}}</h6></label></td> 
              
         </tr>         
        </table> 
        <br [hidden]="!isOpened"> <br [hidden]="!isOpened">      
  </div>

</div>