
<div class="app-footer d-flex align-items-center justify-content-between text-center " [class.fixed-bottom]="settings.theme.footerIsFixed">
    <!-- <span class="social-icons">
         <a href="https://www.facebook.com/themeseason" target="_blank"><i class="fa fa-facebook-square transition" aria-hidden="true"></i></a>
         <a href="https://twitter.com/themeseason" target="_blank"><i class="fa fa-twitter-square transition" aria-hidden="true"></i></a>
         <a href="https://www.instagram.com/themeseason" target="_blank"><i class="fa fa-instagram transition" aria-hidden="true"></i></a>
         <a href="https://www.pinterest.com/themeseason" target="_blank"><i class="fa fa-pinterest-square transition" aria-hidden="true"></i></a>             
    </span> -->
    <span class="copyright" > Powered by Alliance Technologie version V01.02</span>   
    <!-- <div id="content">
      <div id="pageFooter"> </div>
     
    </div> -->
    <!-- <div id="content">
      <div id="pageFooter"> </div>
      
  </div> -->
  <span id="pageNumber"></span>
     
</div>