<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card text-center" clickNoRightClick>
      <div class="card-header font-weight-bold black-text p-0"> {{'affiliation.bodyDetail' | translate}}
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" mdbWavesEffect
          (click)="Fermer()">
          <i class="fa fa-times"></i>
        </button>
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==true"
          title='minimize' (click)="Mini(isOpened)"><i class="fa fa-window-minimize" aria-hidden="true"></i></button>
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==false "
          title='maximize' (click)="Maxi(isOpened2)"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
      </div>
    </div><br>
    
    <div class=" container-fluid form-inline">
    <div style="font-size: 3px; ">
        <mat-form-field id="magasininput" appearance="outline">
            <mat-label>{{'affiliation.EtabPai' | translate}}</mat-label>
          <input disabled style="font-weight: bold;" id="datestyle" matInput class="form-control col-12" [value]="data.etablissement">
        </mat-form-field>
      </div>
      <div style="font-size: 3px; ">
        <mat-form-field id="magasininput" appearance="outline">
            <mat-label>{{'affiliation.column2' | translate}}</mat-label>
          <input disabled style="font-weight: bold;" id="datestyle" matInput class="form-control col-12" [value]="data.produitFinancier">
        </mat-form-field>
      </div>
      <div style="font-size: 3px; ">
        <mat-form-field id="magasininput" appearance="outline">
            <mat-label>{{'affiliation.nbMag' | translate}}</mat-label>
          <input disabled style="font-weight: bold;" id="datestyle" matInput class="form-control col-12" [value]="data.nbr_affiliation_NonOk">
        </mat-form-field>
      </div> 
      </div>
    
      <div >
          <table mat-table matSort [dataSource]="source"  >
            <ng-container  matColumnDef="codemagasin">
              <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header> {{'ecart.codeMag' | translate}} </th>
              <td style="width: 20%;"  mat-cell *matCellDef="let row"> {{row.codemagasin}} </td>
            </ng-container>
  
            <ng-container matColumnDef="nommagasin">
              <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>{{'input.nomMag' | translate}} </th>
              <td style="width: 30%;" mat-cell *matCellDef="let row"> {{row.nommagasin}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Affiliation">
              <th cdkDrag mat-header-cell *matHeaderCellDef>{{'affiliation.affMag' | translate}} </th>
              <td style="width: 30%;" mat-cell *matCellDef="let row">
                <input autocomplete="off" style="font-weight: bold; margin:4px;border: solid black;width: auto;" id="datestyle" matInput class="form-control col-12" [(ngModel)]="row.affiliationMonetique" >
            </td>
            </ng-container>

            <ng-container matColumnDef="AffCode">
                <th style="padding-left: 20px;" cdkDrag mat-header-cell *matHeaderCellDef>{{'affiliation.affcaisse' | translate}} </th>
                <td style="width: 20%;padding-left: 40px;" mat-cell *matCellDef="let row">
                  <div style="text-align: center;"  *ngIf="!data.mode">{{'btn.btn24'|translate}}</div>
                  <button  style="text-align: center;"  *ngIf="data.mode" (click)="detail(row)" mat-menu-item ><i class="fa fa-info-circle fa-2x"></i></button>
              </td>
              </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAff" id="mat-table"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAff;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td colspan="6">
                <h4 class="text-center"> {{'affiliation.AffVide' | translate}}</h4>
              </td>
            </tr>
          </table>
          <mat-paginator [pageSize]="row_nbrAff" hidePageSize showFirstLastButtons></mat-paginator>   
        </div>
        <div  mat-dialog-actions align="end" class="footr mt-auto" >
          <div class="form-group dialog-footer" >
            <button id="bbt" class="waves-light btn red-yellow float-right btn-sm" type="reset" (click)="Fermer()"><span id="sp"><i class="fa fa-times"></i></span></button>
            <button id="bbt" class="waves-light btn red-yellow float-right btn-sm" type="submit" (click)="onSubmit()" ><span id="sp"><i class="fa fa-check" aria-hidden="true"></i></span></button>
            <button id="bbt" class="waves-light btn red-yellow float-right btn-sm" type="reset" (click)="reset()" title="Effacer"><span id="sp"><i class="fa fa-eraser" aria-hidden="true"></i></span></button>
          </div>
        </div>
