.mat-checkbox .mat-checkbox-frame {
    border-color: rgb(42, 107, 204) !important;
  }
  
   .mat-checkbox-checked .mat-checkbox-background {
    background-color: rgb(42, 107, 204) !important;
  }
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  #tabservice{
    margin-top: 20px;
  }
 
//   .mat-checkbox-inner-container{
//     margin: 2px 8px auto 0 !important;
//   }
//   .mat-checkbox{
//     margin-left: 40px;
//   }
.your-class input{
  vertical-align:top;
}

#inputtype{
  margin-left: 5px;
  margin-right: 10px;
  
}
#affiliation{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  width:250px;
}
#adresserue{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 400px;
}
#magasininput{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 150px;
}
#magasinname{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 220px;
}

    #espace{
      margin-left: 30px;
    }
    #circle{
      margin-left: 40px;
      margin-right: 10px;
     // color: rgb(42, 107, 204) !important;
    }
    #operat,#type{
      margin-right: 40px;
    }
#espacenew{
width: 150px;
margin-left: 30px;
}
#boutonmenu{
  height: 35px;
  border: white;
  text-align: center;
}
#spanmenu{
text-align: center;
}
#imgcontact{
  width: 70px;  
} 
#cardadd{
 width: 170px;
 height: 170px;
margin-top: 40px;
margin-left: 20px;
}
#fixed{
  position: absolute;
  top:300px !important;
  right: 10px;
 // margin-top: 160px;
//  bottom: 0px;
//  margin-bottom: 40px;
//   margin-left: 400px;
}
#ajoutcont{
  position: absolute;
  top:0;
  right: 0;
  margin-top: 120px;
  margin-right: 400px;
}
mat-select,mat-option,mat-label,mat-datepicker-toggle,#dateinputstyle,#datestyle{
  font-size: 13px;
}
legend{
  width:auto; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}
fieldset {
  display: block;
//  border: 2px solid rgb(91, 153, 245)  !important;
  border: 2px solid black  !important;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 1%;
 // max-height:100px;
  // padding: 0 1.4em 1.4em 1.4em !important;
  // margin: 0 0 1.5em 0 !important;
  // -webkit-box-shadow:  0px 0px 0px 0px #000;
  //         box-shadow:  0px 0px 0px 0px #000;
}
#addmag{
  position: relative;
z-index: 2;
}
#fixeente{
  position: sticky !important;
    top: 0px;
    
    background-color:white !important;
    z-index: 16 !important;
  
}
.mat-dialog-content.addmg{
  height: 40vh !important;
}