#pass{
     /* margin-left: 10px; */
     margin-right: 10px;
    
 }
 #espleft{
     /* margin-top: 20px; */
     margin-left: 20px;
     margin-right: 10px;
     
 }
 #detailecart{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}