.dropdown-menu .user-menu {    
    width: 240px;
    padding: 0;
    .user-img{
        width: 100px;
    }   
    .dropdown-item{
        color: #666 !important;
    }
    
}
.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}
  p{margin: 1.3px;}
#name{
    //color: #367beb;
    font-size: 16px
  }
