<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div id="dialogvente" clickNoRightClick>
    <div class="card text-center">
      <div  class="card-header font-weight-bold black-text p-0"> {{'modifierService.headercard' | translate}}
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" title="{{'btn.btn1'| translate}}" mdbWavesEffect (click)="Fermer()">
          <i class="fa fa-times"></i>
        </button>
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==true"    title="{{'btn.btn15'| translate}}" (click)="Mini(isOpened)"><i class="fa fa-window-minimize" aria-hidden="true" ></i></button>
        <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==false "   title="{{'btn.btn16'| translate}}" (click)="Maxi(isOpened2)"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
      </div></div><br [hidden]="!isOpened">
      <form #form3="ngForm" [formGroup]="serviceform" id="form1" class="form-inline" [hidden]="!isOpened">
            <div style="font-size: 3px; ">
                <mat-form-field id="serviceinput" appearance="outline">
                    <mat-label  id="labelobligatoir">{{'input.aff'|translate}}</mat-label>
                  <input (focus)="onFocus([],true)"
                  (blur)="onBlur()" autocomplete="off" id="datestyle" matInput class="form-control col-12" [(ngModel)]="aff" formControlName="affiliation">
                  <!-- <mat-error style="font-size: 13px;" *ngIf="!serviceform.controls['affiliation'].valid && serviceform.controls['affiliation'].touched">*Champ obligatoire</mat-error> -->
                </mat-form-field>
              </div>
    </form>
    <div mat-dialog-actions align="end" class="footr mt-auto"  [hidden]="!isOpened">
      <br>
      <div class="d-left">
        <ul style="list-style-type:none; " class="small text-left pl-4 m-3">
          <li *ngFor="let m of Messages" [ngStyle]="{'color': m.color}"><i style="margin-right: 10px;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{m.message }}</li>
       
       <li>
        <mat-error  *ngIf="err"><i style="margin-right: 10px;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{msg}}</mat-error> 
       </li> </ul>
      </div>
    <div class="form-group dialog-footer" [hidden]="!isOpened" >
        <button [disabled]="disable" class="waves-light btn red-yellow float-right btn-sm" type="reset"  title="{{'btn.btn1'| translate}}" (click)="Fermer()"><span id="sp"><i class="fa fa-times"></i></span></button>
        <button [disabled]="disable" class="waves-light btn red-yellow float-right btn-sm" title="{{'btn.btn3'| translate}}" type="submit" (click)="onSubmit(form3)"><span id="sp"><i class="fa fa-check" aria-hidden="true"></i></span></button>
        <button [disabled]="disable" class="waves-light btn red-yellow float-right btn-sm" title="{{'btn.btn2'| translate}}" type="reset" (click)="reset()" title="Effacer"><span id="sp"><i class="fa fa-eraser" aria-hidden="true"></i></span></button>
      </div>
      </div>
</div>