#btt{
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
#bttn{
    margin-left: 200px;
}
.example-full-width{
    margin-right: 70px;
    margin-left: 20px;
}
#tool{
    margin-right:  30px;
}
