// #inp{
//     width: 400px;
//     padding-left: 120px;
    
// }
#btnMdp{
    margin-right: 350px;
}
#espa{
    padding-left: 100px;
    padding-top: 10px;  
}
// #bttnmdp{
//     width: 60px;
//     height: 40px;
// }
#error{
    text-align: center;
}
#sp{
    font-family: sans-serif;
}
// i{
//     text-align: center;
//     width: 40px;
// }