<div class="card mt-1" clickNoRightClick>
        <div class="card-header text-center  info-color-dark font-weight-bold white-text p-0">Modifier mot de passe</div><br><br>
<form #form="ngForm" [formGroup]="filterform" class="example-form" (ngSubmit)="onSubmit(form)">
    
         <div class="row">
            <div class="col-3">
        <label id="espa">Ancien mot de passe</label> 
            </div>
            <div class="col-3">
        <input type="text" formControlName="mdp_last_password"  placeholder="Ancien mot de passe" class="form-control validation-field" [type]="hide ? 'password' : 'text'">
            </div>  
            </div>  <br><br>                  
         <div class="row">
            <div class="col-3">
            <label id="espa">Nouveau mot de passe</label>
            </div>
            <div class="col-3">
        <input type="text" formControlName="mdp_New_password"   placeholder="Nouveau mot de passe" class="form-control validation-field" [type]="hide ? 'password' : 'text'">                      
    </div>
    </div> <br><br>
    <div class="row">
            <div class="col-3">
    <label id="espa">Confirmer mot de passe</label>
    </div>
    <div class="col-3">
    <input type="text" formControlName="confirmed_password"  placeholder="Confirmer mot de passe" class="form-control validation-field" [type]="hide ? 'password' : 'text'">                      
  </div>
</div>
</form><br>
<div id="error" *ngIf="isLoginError" class="red-text center error-message">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{message}}
</div>
<br><br>
<div id="btnMdp" class="form-group">
        <a href="javascript:history.go(-1)"><button id="bttn1" class="waves-light btn blue-grey float-right btn-sm" type="reset"><i class="fa fa-times" aria-hidden="true"></i></button></a>
        <button id="bttnmdp" [disabled]="!form.valid" class="waves-light btn blue-grey float-right btn-sm" type="submit" (click)="onSubmit(form)"><span id="sp"><i class="fa fa-check" aria-hidden="true"></i></span></button>
    <button id="bttnmdp" class="waves-light btn blue-grey float-right btn-sm" type="reset" (click)="Effacer()"><span id="sp"><i class="fa fa-eraser" aria-hidden="true"></i></span></button>
   
    
 </div><br><br><br><br><br><br>
</div>
<!-- <div id="bttn">
<button [disabled]="!form.valid" id="btt" mat-raised-button color="primary" type="submit">Modifier</button>
<button id="btt" mat-raised-button color="warn" (click)="Reset()">Effacer</button>
</div> -->

   
    
