#partinput{
  margin-right: 20px;
  width: 150px;
}

#imgcontactetabli{
  width: 70px;  
} 
#cardlistetabli{
  width: auto;
  height: auto;
  min-width: 250px;
  min-height: 250px;
  margin-top: 50px;
  margin-left: 30px;
 /* // background-color: rgb(42, 107, 204); */
  }

  #pass{
    // margin-left: 10px;
     margin-right: 10px;
    
 }
 #espleft{
     //margin-top: 20px;
     margin-left: 20px;
     margin-right: 10px;
     
 }
 #detailecart{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
#labeldetailrecon{
    margin-left: 4%;
}

#titleliste{color: #e22d2c;}
 
// mat-select,mat-option,mat-label,mat-datepicker-toggle,#dateinputstyle,#datestyle{
//   font-size: 13px;
// }
// #magasininput{
//   margin-left: 10px;
//   margin-top: 20px;
//   margin-bottom: 10px;
//   margin-right: 20px;
//   width: 150px;
// }