#pass{
    // margin-left: 10px;
     margin-right: 10px;
    
 }
 #espagent{
     //margin-top: 20px;
     margin-left: 20px;
     margin-right: 10px;
     
 }
 #detailmagasin{
     margin-top: 20px;
     margin-bottom: 20px;
 }
//  #detailmagasin >h5{
//     font-family: cursive;
//  }
 #agentdetail{
    color: rgb(175, 126, 35);
}