#caisseinput{
    margin-left: 10px;
    /* margin-top: 20px;
    margin-bottom: 10px; */
    margin-right: 20px;
    width: 150px;
  }
  #fixecaisse{
    position: absolute;
    top:190px;
    right: 10px;
  }
  #dialogvente{
    position: relative;
  }