<div id="affichconsultationtranse" *ngIf="isConnectionAvailable" clickNoRightClick>
  
  <div class="card-body" >
    <div class="container-fluid">
        <div class="row" >
            <div class="col-8">
      <form [formGroup]="filterform" class="form-inline">
          <div style="font-size: 10px">
              <mat-form-field id="partinput" appearance="outline">
                  <mat-label>{{'transaction.attribute.n12' | translate}}</mat-label>
              <mat-select  formControlName="critere_rech" placeholder=""> 
                  <mat-option [value]="0">Ref MPGA</mat-option>
                  <mat-option [value]="1">Autorisation</mat-option>
              </mat-select>
              </mat-form-field>
          </div>
          
            <div style="font-size: 10px">
                    <mat-form-field id="ident_critere" appearance="outline">
                      <mat-label>{{'transaction.attribute.n13' | translate}}</mat-label>
                      <input id="datestyle" autocomplete="off" matInput formControlName="ident_critere" [(ngModel)]="identifiant">
                    </mat-form-field>
              </div>
              
              <button id="bout" [disabled]="!filterform.valid" type="button" class="waves-light btn red-yellow f btn-sm" mdbWavesEffect 
              (click)="Rechercher(filterform.value)"> <i class="fa fa-search"></i></button>
      </form>
      </div>
        </div>
    </div>
</div>
  
  <div class="card-header-warning" >
    <h4 *ngIf="check==false " class="card-title" style="text-align:center;color:maroon;margin-top: 2%;font-weight: bold;"> {{message}} </h4>
  </div>
  <table  id="detailrecon">
    <tr>
      <td>
          <label id="espleft">
            <h6 id="titleliste" style="font-weight: bold;">{{'ecart.refmpga' | translate}} :</h6>
          </label>
          <label id="pass">
            <h6>{{refMpga}}</h6>
          </label>
        </td>
        <td> <label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'ecart.montant' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6 style="font-weight: bold;">{{montant}}</h6>
        </label>
      </td>
  </tr>

<tr>
  <td> <label id="espleft">
      <h6 id="titleliste" style="font-weight: bold;">{{'magasin.attribute.n7' | translate}} :</h6>
    </label>
    <label id="pass">
      <h6>{{libelleMagasin}}</h6>
    </label>
  </td>
  <td>
      <label id="pass">
        <h6 id="titleliste" style="font-weight: bold;">{{'ecart.codeMag' | translate}} :</h6>
      </label>
      <label id="pass">
        <h6>{{codeCaisse}}</h6>
      </label>
    </td>
    </tr>

    <tr>
      <td> <label id="espleft">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.column_Num_Ticket' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6>{{numTicket}}</h6>
        </label>
      </td>
      <td> <label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.column_Caisse' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6>{{codeCaisse}}</h6>
        </label>
      </td>
      <td>
          <label id="pass">
            <h6 id="titleliste" style="font-weight: bold;">{{'transaction.column_Caissier' | translate}} :</h6>
          </label>
          <label id="pass">
            <h6>{{caisse}}</h6>
          </label>
        </td>
    </tr>

    <tr>
      <td><label id="espleft">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.recap.g3' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6>{{etab}}</h6>
        </label>
      </td>
      <td><label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'modifierEtablissement.column0' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6>{{libelleWallet}}</h6>
        </label>
      </td>
      <td><label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'input.canalPaiement' | translate}} :</h6>
        </label>
        <label id="pass">
          <h6>{{canalPai}}</h6>
        </label>
      </td>
    </tr>

    <tr>
      <td><label id="espleft">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.attribute.n6' | translate}} :</h6>
        </label>
        <label style="display: flex;" id="pass">
          <h6 style="width: 100px;" class="coul" [style.background-color]="couleurEtatTransaction">{{etatTransaction}}</h6> 
          <span class="coul">{{dateTransaction}}</span>
        </label>
      </td>
      <td><label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.column_reconcilie' | translate}} :</h6>
        </label>
        <label style="display: flex;" id="pass">
          <h6 style="width: 100px;" class="coul"[style.background-color]="couleurEtatReconciliation">{{etatReconciliation}}</h6>
          <span class="coul">{{dateReconciliation}}</span>  
      </label>
      </td>
      <td><label id="pass">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.column_lettre' | translate}} :</h6>
        </label>
        <label style="display: flex;" id="pass">
          <h6 style="width: 100px;" class="coul" [style.background-color]="couleurEtatLettrage">{{etatLettrage}}</h6>
          <span class="coul">{{dateLettrage}}</span>  
      </label>
      </td>
    </tr>

    <tr>
      <td> <label id="espleft">
          <h6 id="titleliste" style="font-weight: bold;">{{'transaction.HistoriqueTrans' | translate}} :</h6>
        </label></td>
    </tr>

  </table>

  <table id="tablemagasin" clickNoRightClick>
    <thead  class="head">
        <tr>
            <th><h6 id="titleliste" style="font-weight: bold;" >{{'transaction.column_date' | translate}}</h6></th>
            <th><h6 id="titleliste" style="font-weight: bold;" >{{'transaction.attribute.n6' | translate}}</h6></th>
            <th><h6 id="titleliste" style="font-weight: bold;" >{{'recon.user' | translate}}</h6></th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of source">
            <td ><h6>{{row.dateHistorique }}</h6></td>
            <td ><h6>{{row.etatTransaction }}</h6></td>
            <td ><h6>{{row.user }}</h6></td>
               </tr>
        </tbody>
  </table>
  <div style="width: 100%;" id="tab">
    <div >
      <div class="table-responsive ">
        </div>
  </div>

  </div>

<div *ngIf="loading" clickNoRightClick>
  <div class="spinner-imgage">
  </div>
  <h5 id="titreload">Chargement en cours ....</h5>
</div>