<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div id="caiss">
        <div class="card text-center" clickNoRightClick >
            <div  class="card-header font-weight-bold black-text p-0" > {{'affiliationCaisse.headercard' | translate}}
              <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" mdbWavesEffect title="{{'btn.btn1'| translate}}" (click)="Fermer()">
                <i class="fa fa-times"></i>
              </button>
              <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==true"    title="{{'btn.btn15'| translate}}" (click)="Mini(isOpened)"><i class="fa fa-window-minimize" aria-hidden="true" ></i></button>
                <button type="button" class="float-right waves-light btn red-yellow p-0 pl-3 pr-3" *ngIf="isOpened==false "  title="{{'btn.btn16'| translate}}" (click)="Maxi(isOpened2)"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
            </div></div><br [hidden]="!isOpened">

            <div  mat-dialog-content [hidden]="!isOpened" class="addaff">
                <div  class="form-inline">
                <div style="font-size: 3px;">
                    <mat-form-field id="magasininput" appearance="outline">
                        <mat-label  >{{'input.cde' | translate}}</mat-label>
                      <input disabled id="datestyle" matInput class="form-control col-12" [(ngModel)]="code" >
                    
                    </mat-form-field>
                  </div>
                  <div style="font-size: 3px; ">
                    <mat-form-field id="magasinname" appearance="outline" style=" width: 220px;">
                        <mat-label  >{{'input.nomMag' | translate}}</mat-label>
                      <input disabled style="width: 100%;" id="datestyle" matInput class="form-control col-12" [(ngModel)]="nom">
                     
                    </mat-form-field>
                  </div>
                </div>
                
                <div  class="form-inline" style="margin-top: 10px;">
                  <div style="font-size: 3px;">
                      <mat-form-field id="magasininput" appearance="outline">
                          <mat-label  >{{'input.etabli' | translate}}</mat-label>
                        <input disabled id="datestyle" matInput class="form-control col-12" [(ngModel)]="etablifi" >
                      
                      </mat-form-field>
                    </div>
                    <div style="font-size: 3px; ">
                      <mat-form-field id="magasinname" appearance="outline">
                          <mat-label  >{{'input.prodFinance' | translate}}</mat-label>
                        <input disabled style="width: 100%;" id="datestyle" matInput class="form-control col-12" [(ngModel)]="produitfin">
                       
                      </mat-form-field>
                    </div>
                    <div style="font-size: 3px; ">
                      <mat-form-field id="magasinname" appearance="outline">
                          <mat-label  >{{'input.affMag' | translate}}</mat-label>
                        <input disabled style="width: 100%;" id="datestyle" matInput class="form-control col-12" [(ngModel)]="affMagasin">
                       
                      </mat-form-field>
                    </div>
                  </div>
                <div class="table-responsive" id="tab">
                   
                    <table mat-table matSort   
                    [dataSource]="dataSource" class="mat-elevation-z8" 
                  >
                  
                    <ng-container matColumnDef="libelle">
                      <th  mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> {{'affiliationCaisse.column0' | translate}} </th>
                      <td mat-cell *matCellDef="let element"  > {{element.libelle}} </td>
                    </ng-container>
                      <ng-container matColumnDef="idCaisseEtablissement">
                        <th  mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> {{'affiliationCaisse.column1' | translate}} </th>
                        <td mat-cell *matCellDef="let element" > {{element.idCaisseEtablissement}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="affiliation">
                        <th  mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> {{'affiliationCaisse.column2' | translate}} </th>
                        <td mat-cell *matCellDef="let element" >
                            {{element.affiliation}}
                        </td>
                      </ng-container>
                     
                     
                          
                     
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                    <mat-paginator *ngIf="dataSource.data.length>8"  [pageSize]="8" hidePageSize showFirstLastButtons></mat-paginator>
                  </div>
            </div>
           
    </div>
</div>

