#inp{
    width: 400px;
    padding-left: 120px;
    
}
#bttn{
    margin-right: 350px;
   
}
#prof{
    padding-left: 100px;
    padding-top: 10px;  
}
// #bttn1{
//     width: 60px;
//     height: 40px;
// }
#error{
    text-align: center;
}
#sp{
    font-family: sans-serif;
}