<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div class="card text-center" clickNoRightClick>
  <!-- <div  class="card-header info-color-dark font-weight-bold white-text p-0">
    <button type="button" class="float-right waves-light btn blue-grey p-0 pl-3 pr-3" mdbWavesEffect (click)="Fermer()">
      <i class="fa fa-times"></i>
    </button>
  </div> -->
</div>
  <div class="card-body" clickNoRightClick>
    <div id="message" class="row">
      <h5>  Erreur lors de la modification liste caisse !</h5>
    </div>
  </div>
  <div id="bott" class="form-group" clickNoRightClick>
    <button id="bbt" class="waves-light btn blue-grey float-right btn-sm" type="reset" (click)="Fermer()"><span id="sp"><i class="fa fa-times" aria-hidden="true"></i></span></button>
    
</div>
</div>